/* List Bullet Symbol */
#about ul li::before {
    content: "▸";
    color: var(--primary-color);
    position: absolute;
    left: 0px;
}

/* Lighten font-weight of Project tags */
#projects .badge {
    font-weight: 400;
}

/* Style subheading of Certifications section */
.verify {
    font-style: italic;
    color: var(--text-secondary-color);
    font-size: 1.2rem;
}

/* Add a little space above the Date Attained and Verification code of each Certification card */
#achievements .card-text {
    margin-top: 1rem;;
}

/* Enlarge GitHub and LinkedIn Icons under Hero banner */
#hero a.btn.social-icon {
    font-size: 1.4rem;
}

#single {
    padding: 30px 0;
    line-height: 1.7em;
    font-size: 17px;
}